[submodule "VEGA/vender/spdlog"]
	path = VEGA/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VEGA/vendor/spdlog"]
	path = VEGA/VEGA/vendor/spdlog
[submodule "VEGA/vendor/GLFW"]
	path = VEGA/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "VEGA/vendor/imgui"]
	path = VEGA/vendor/imgui
	url = https://github.com/rajaryan2007/imgui.git
[submodule "VEGA/vendor/glm"]
	path = VEGA/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "VEGA/vendor/volk"]
	path = VEGA/vendor/volk
	url = https://github.com/rajaryan2007/volk.git
[submodule "VEGA/vendor/VulkanMemoryAllocator"]
	path = VEGA/vendor/VulkanMemoryAllocator
	url = https://github.com/rajaryan2007/VulkanMemoryAllocator.git
[submodule "VEGA/vendor/yaml-cpp"]
	path = VEGA/vendor/yaml-cpp
	url = https://github.com/rajaryan2007/yaml-cpp.git
[submodule "VEGA/vendor/imGuizmo"]
	path = VEGA/vendor/imGuizmo
	url = https://github.com/rajaryan2007/ImGuizmo.git
[submodule "VEGA/vendor/tracy"]
	path = VEGA/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
