[submodule "VEGA/vender/spdlog"]
	path = VEGA/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VEGA/vendor/spdlog"]
	path = VEGA/VEGA/vendor/spdlog
[submodule "VEGA/vendor/GLFW"]
	path = VEGA/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "VEGA/vendor/imgui"]
	path = VEGA/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "VEGA/vendor/glm"]
	path = VEGA/vendor/glm
	url = https://github.com/g-truc/glm
